// ==========================================================================
// Collapsed
// ==========================================================================



/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.breadcrumb {
		padding: em(33px) 0;
		text-align: right;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {
	.breadcrumb {
		padding: em(33px) 0;
		text-align: right;
	}
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.breadcrumb {
		padding: em(33px) 0;
		text-align: center;
	}
}

/* Small Devices Potrait */
@media (max-width : 767px) {
	.navbar-brand {
		padding-top: 4px;
	}

	#page-tree {
		display: none;
		visibility: none;
	}

	.mouse-icon {
		display: none;
	}

	.breadcrumb {
		padding: em(21px) 0;
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media (max-width : 479px) {
	.mouse-icon {
		display: none;
	}
}