// ==========================================================================
// Buttons
// ==========================================================================

.btn-custom,
a.btn-custom {
	background: rgba($color-primary, 0.9);
	border: 3px solid transparent;
	border-radius: 0;
	color: $white;
	font-family: $font-family--secondary;
	font-size: 11px;
	font-weight: $font-weight--bold;
	letter-spacing: $letter-space;
	padding: 4px 13px;
	text-decoration: none;
	text-transform: $uppercase;
	transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);

	&:hover,
	&:focus {
		background: rgba($color-primary, 0.7);
		border-color: transparent;
		box-shadow: none;
		color: rgba($white, 0.85);
		font-weight: $font-weight--medium;
		outline: none;
		text-decoration: none;
	}

	&:active {
		cursor: pointer !important;
		outline: none !important;
	}
}

.btn-custom.btn-small {
	font-size: 11px;
	height: auto;
	letter-spacing: 1px;
	padding: 6px 17px;
}

.btn-custom.btn-medium {
	font-size: 12px;
	height: auto;
	padding: 8px 37px;
}

.btn-custom.btn-large {
	font-size: 13px;
	height: auto;
	padding: 12px 45px;
}

.btn-custom.btn-glass {
	background: rgba($color-primary, 0.4);
	color: rgba($white, 0.75);
}

.btn-custom.btn-glass:hover,
.btn-custom.btn-glass:focus {
	background: rgba($color-primary, 1);
	color: rgba($white, 1);
}

.btn-custom.btn-border {
	background: transparent;
	border: 3px solid $color-secondary;
	color: $color-secondary;
}

.btn-custom.btn-border:hover,
.btn-custom.btn-border:focus {
	background: $color-primary;
	border-color: transparent;
	color: $color-accent;
}

.btn-custom.btn-border-c {
	background: transparent;
	border: 3px solid $color-primary;
	color: $color-accent;
}

.btn-custom.btn-border-c:hover,
.btn-custom.btn-border-c:focus {
	background: $color-accent;
	border-color: transparent;
	color: $white;
}

.btn-custom.btn-border-w {
	background: transparent;
	border: 5px solid $white;
	color: $white;
}

.btn-custom.btn-border-w:hover,
.btn-custom.btn-border-w:focus {
	background: $color-accent;
	border-color: transparent;
	color: $color-primary;
}

.btn-custom.btn-w {
	background: rgba($white, 0.8);
	color: $color-secondary;
}

.btn-custom.btn-w:hover,
.btn-custom.btn-w:focus {
	background: $white;
	color: $color-secondary;
}

.btn-custom.btn-w-color {
	background: $white;
	color: $color-accent;
}

.btn-custom.btn-w-color:hover,
.btn-custom.btn-w-color:focus {
	background: $white;
	color: $black-gray;
}

.btn-custom.btn-gray {
	background: #e5e5e5;
	color: #777777;
}

.btn-custom.btn-gray:hover,
.btn-custom.btn-gray:focus {
	background: #d5d5d5;
	color: #444444;
}

.btn-custom.btn-color {
	background: $color-accent;
	color: $white;
}

.btn-custom.btn-color:hover,
.btn-custom.btn-color:focus {
	background: $color-accent;
	color: $white;
	opacity: 0.85;
}

.btn-custom.btn-circle {
	border-radius: 30px;
}

.btn-custom.btn-round {
	border-radius: 2px;
}

.btn-icon {
	border: 0;
	overflow: hidden;
	position: relative;

	&.btn-small {
		overflow: hidden;
	}
}

.btn-icon>span {
	color: #777777;
	font-size: 48px;
	height: 50px;
	left: 0;
	line-height: 50px;
	margin-top: -25px;
	opacity: 0.2;
	position: absolute;
	top: 50%;
	transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
	width: 100%;

	&.white {
		color: $white;
	}

	&.black {
		color: $color-primary;
	}
}

.btn-icon:hover>span {
	opacity: 0;
	transform: scale(2);
}

.btn-full {
	width: 100%;
}