%hdln-prim {
	font-family: $font-family--primary;
	font-size: 30px;
	font-weight: $font-weight--heavy;
	letter-spacing: $letter-space;
	line-height: 2.5;
	margin-top: 0;
	position: relative;
	text-align: center;
	text-transform: $uppercase;
}

%hdln-sec {
	color: $grey;
	font-family: $font-family--secondary;
	font-size: em(18px);
	font-weight: $font-weight--medium;
	letter-spacing: $letter-space;
	line-height: 2.5;
	margin-bottom: 0;
	text-transform: $uppercase;
}


// Buttons
%btn {
	background: rgba(34, 34, 34, .9);
	border: 2px solid transparent;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: $white;
	font-size: 11px;
	font-weight: $font-weight--medium;
	letter-spacing: $letter-space;
	padding: 4px 13px;
	text-decoration: none;
	text-transform: $uppercase;
	transition: all 0.2s cubic-bezier(0, 0, 0.580, 1);
}