// ==========================================================================
// Images
// ==========================================================================

.triangle-overlay {
	@include img-replace("triangle__overlay.png", 100%, 100%);
	background-repeat: repeat;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.afk {
	@include slider-img("clients/client__afk.png")
}

.atown {
	@include slider-img("clients/client__atown.png");
}

.audiofold {
	@include slider-img("clients/client__audiofold.png")
}

.beat-down {
	@include slider-img("clients/client__beatdown.png")
}

.brown {
	@include slider-img("clients/client__brown.png")
}

.crva {
	@include slider-img("clients/client__crva.png")
}

.fish {
	@include slider-img("clients/client__fish.png")
}

.kai {
	@include slider-img("clients/client__kai.png")
}

.kulture {
	@include slider-img("clients/client__kulture.png")
}

.phenom {
	@include slider-img("clients/client__phenom.png")
}

.sam {
	@include slider-img("clients/client__sam.png")
}

.riffa {
	@include slider-img("clients/client__riffa.png")
}

.twm {
	@include slider-img("clients/client__twm.png")
}

.mouse-icon {
	border: 2px solid $white;
	border-radius: 16px;
	bottom: 40px;
	display: block;
	height: 50px;
	left: 50%;
	margin-left: -17px;
	position: absolute;
	width: 30px;
	z-index: 10;

	.wheel {
		animation-delay: 0s;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: drop;
		animation-play-state: running;
		animation-timing-function: linear;
		background: $white;
		border-radius: 10px;
		height: 10px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 4px;
		width: 4px;
	}
}


@keyframes drop {
	0% {
		opacity: 0;
		top: 5px;
	}

	30% {
		opacity: 1;
		top: 10px;
	}

	100% {
		opacity: 0;
		top: 25px;
	}
}