// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

%clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Center alignment

%center-align {
	text-align: center;
}

// For pseudo-elements

%pseudos {
	content: "";
	display: block;
	position: absolute;
}

// Center elements

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

%vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	@include list-unstyled;
	margin-left: -5px;

	>li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}
}


.form-group {
	margin-bottom: $form-group-margin-bottom;
}

.form-control {
	@include form-control-focus;
	@include placeholder;
	@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
	@include transition(border-color ease-in-out 0.15s,
	box-shadow ease-in-out 0.15s);
	background-color: $input-bg;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid $input-border;
	border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	color: $input-color;
	display: block;
	font-size: $font-size-base;
	height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	line-height: $line-height-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	width: 100%;

	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: $input-bg-disabled;
		opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
	}

	// [converter] extracted textarea& to textarea.form-control
}