// ==========================================================================
// Base Styles
// ==========================================================================

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden !important;
	position: relative;
	text-rendering: optimizeLegibility;
	width: 100%;
}

body {
	border: 0;
	color: palette(grey);
	font-family: $font-family--primary;
	font-size: $base-font-size;
	line-height: ($base-line-height/$base-font-size);
	margin: 0;
	padding: 0;
}

// Lists

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// Images

img {
	height: auto;
	max-width: 100%;
}

section {
	position: relative;
}

p {
	font-size: em(18px);
	font-weight: $font-weight--light;
	line-height: (27px/18px);
	margin: 0 0 em(30px, 18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family--secondary;
	text-transform: $uppercase;
}

h1 {
	font-size: em(36px);
	line-height: (48px/36px);
}

h2 {
	font-size: em(30px);
	line-height: em(24px);
}

h3 {
	font-size: em(18px);
	font-weight: $font-weight--medium;
}

h4 {
	font-size: em(18px);
	font-weight: $font-weight--bold;
	line-height: (20px/18px);
}

h5 {
	font-size: em(16px);
	letter-spacing: $letter-space;
	line-height: (16px/16px);
}

a {
	color: $white;
	font-weight: $font-weight--medium;
	text-decoration: none;
	transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);

	&:link,
	&:visited {
		text-decoration: none;
	}

	&:hover {
		color: $color-accent;
		cursor: pointer;
		text-decoration: none;
	}
}

/*Global styles
==============================================*/

%section-padding {
	padding: 50px 0;
}

.section-padding {
	@extend %section-padding;
}

h2.heading-title {
	font-weight: 700;
	margin-bottom: 50px;
}

.section-heading {
	margin: 0 auto;
	padding-bottom: 30px;
	text-align: center;
	width: 80%;
}

.empty__section {
	display: none;
	margin: 0;
	padding: 0;
}

.ghost {
	border: 0;
	border-top: 1px solid #eeeeee;
	margin: 30px auto;
	visibility: hidden;
}

.success {
	border-color: #a9e2c2;
	color: #36a367;
}

.info {
	border-color: #9ecdfc;
	color: #297ad3;
}

.notice {
	border-color: #f9ce75;
	color: #e9a00a;
}

.error {
	border-color: #ffbbbb;
	color: #e33131;
}

.form input.error {
	border-color: #e41919;
}

.form div.error {
	background: rgba(228, 25, 25, 0.75);
	color: $white;
	margin-top: 20px;
	padding: 13px 20px;
	text-align: center;
}

.form div.success {
	background: rgba(50, 178, 95, 0.75);
	color: $white;
	margin-top: 20px;
	padding: 13px 20px;
	text-align: center;
}

/*=============================================
  Main Hero
================================================*/

#hero__main {
	background: url("../img/hero__img.jpg") $color-primary;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}

.hero {
	@include e(content) {
		font-family: $font-family--primary;
		position: absolute;
		text-align: center;
		text-transform: $uppercase;
		top: 50%;
		transform: translate(0, -50%);
		width: 100%;
	}

	@include e(title) {
		color: $gold;
		font-size: em(70px);
		font-weight: $font-weight--medium;
		font-weight: $font-weight--medium;
		letter-spacing: 25px;
		line-height: (70px/70px);

		@include m(sub) {
			color: $white;
			font-size: em(24px);
			letter-spacing: 5px;

			span {
				color: $gold;
				font-weight: $font-weight--ultra-bold;
			}
		}
	}

	@include e(logo) {
		@include img-replace("logo__white.svg", 75px, 75px, inline-block);
	}

	@include e(icon) {
		background-image: linear-gradient(
			to top,
			rgba($color-primary, 0.83),
			transparent
		);
		bottom: 0;
		color: $gold;
		left: 0;
		padding: 18px 0;
		position: absolute;
		right: 0;
		text-align: center;
	}
}

/*=============================================
  About styles
================================================*/

.about {
	@extend %center-align;
	background: $white;
	color: $color-secondary;
	padding-top: 50px;

	@include e(headline) {
		@extend %hdln-prim;
		color: $color-secondary;

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(headshot) {
		height: auto;
		max-width: 275px;
	}
}

/*=============================================
  Services Section
================================================*/

.services {
	@extend %section-padding;
	background: $black-gray;

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;
		// margin-bottom: em(70px, 42px);

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	h4 {
		color: $white;
	}

	@include e(item) {
		border: 1px solid transparent;
		padding: 7.5px 0;
		text-align: center;
		transition: all $trns-duration ease;
	}

	@include e(icon) {
		background-color: transparent;
		border: 4px solid $color-accent;
		border-radius: 50%;
		color: $grey;
		height: 140px;
		line-height: 140px;
		margin: 0 auto 20px;
		text-align: center;
		width: 140px;

		i {
			font-size: 60px;
			line-height: 140px;
			transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);

			&:hover {
				font-size: 65px;
				line-height: 140px;
			}
		}
	}
}

/*=============================================
  Legacy Section
================================================*/

.legacy {
	@include img-replace("legacy__bg.jpg", 100%, 100%);
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
	color: $color-primary;
	position: relative;

	@include e(text) {
		max-width: 75%;
	}

	.container {
		position: relative;
		z-index: 3;
	}
}

/*=============================================
  Client Section
================================================*/

.client {
	@extend %section-padding;
	background: $color-secondary;
	position: relative;

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;

		@include m(sub) {
			@extend %hdln-sec;
		}

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	.fp-controlArrow {
		&.fp-prev {
			border-color: transparent $color-accent transparent transparent;
		}

		&.fp-next {
			border-color: transparent transparent transparent $color-accent;
		}
	}
}

.bnbt,
.btn-left,
.bbbt,
.btn-right {
	@extend %vertical-align;
	border: 3px solid #313131;
	color: $color-accent;
	cursor: pointer;
	padding: 15px;
	width: 50px;
	z-index: 1;
}

.bnbt,
.btn-left {
	border-left: 0;
	left: 0;
}

.bbbt,
.btn-right {
	border-right: 0;
	right: 0;
}

.bnbt:hover,
.bbbt:hover,
.btn-left:hover,
.btn-right:hover {
	background: rgba($color-primary, 0.8);
	color: $color-accent;
	transition: $trns-duration;
}

.slick-dots li button::before {
	color: $grey;
	content: "•";
	font-size: 10px;
	height: 20px;
	left: 0;
	line-height: 20px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 20px;
}

.slick-dots li.slick-active button::before {
	color: $color-accent;
}

/*=============================================
  Testimonial Section
================================================*/

.review {
	background-attachment: fixed;
	background-image: url("../img/testimonial__bg.jpg");
	background-position: top center;
	background-size: cover;
	position: relative;

	@include pseudo-el(after, 100%, 100%) {
		background: linear-gradient(
			rgba(182, 148, 76, 0.5),
			rgba($color-primary, 0.75)
		);
		left: 0;
		top: 0;
		z-index: 0;
	}

	@include e(headline) {
		@extend %hdln-prim;
		color: $color-primary;

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(icon) {
		color: $color-secondary;
	}

	.review__slider,
	.section-heading {
		position: relative;
		z-index: 2;
	}

	blockquote {
		border-left: 0;
		margin: 0;
		text-align: center;

		p {
			color: $white;
			margin-bottom: 15px;
		}

		footer {
			color: $color-accent;
		}
	}
}

/*=============================================
  Contact Section
================================================*/

.contact {
	@extend %section-padding;
	background: $color-primary;
	padding-bottom: 70px;

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(form) {
		@include m(control) {
			@extend .form-control;
			background-color: transparent;
			border: 0;
			border-bottom: 5px solid $white;
			border-radius: 0;
			font-family: $font-family--secondary;
			font-weight: $font-weight--medium;
			letter-spacing: 4px;
			padding: 20px 0 20px 20px;
			text-transform: uppercase;

			&:focus,
			&:active {
				border-color: $color-accent;
				box-shadow: none;
			}
		}

		@include m(group) {
			@extend .form-group;
		}
	}

	textarea.contact__form--control {
		border: 5px solid $white;
		margin-top: 40px;
		transition: all $trns-duration;

		&:focus,
		&:active {
			border-color: $color-accent;
			box-shadow: none;
		}
	}
}

/*=============================================
  Footer Section
================================================*/

.footer {
	background: $color-secondary;
	padding-top: 30px;

	@include e(signature) {
		@include center-block;
		max-width: 200px;
		padding: 10px 0;
	}

	@include e(list) {
		@extend .list-inline;
		padding: 10px 0;

		@include m(item) {
			height: 45px;
			line-height: 45px !important;
			margin: 0 15px;
			position: relative;
			width: 45px;

			a {
				font-size: 24px;

				@include pseudo-el(before, 100%, 100%) {
					border: 2px solid $color-accent;
					left: 0;
					top: 0;
					transform: rotate(45deg);
					transition: all 0.5s;
				}

				i {
					color: $color-accent;
					position: relative;
					transition: all 0.5s;
					z-index: 15;
				}

				&:hover,
				&:active {
					color: $color-accent;

					i {
						color: $color-primary;
					}

					@include pseudo-el(before, 100%, 100%) {
						background: $color-accent;
						left: 0;
						top: 0;
						transform: rotate(45deg);
					}
				}
			}
		}
	}

	@include e(rights) {
		display: block;
		margin: auto;
		padding: 20px 0;
	}

	i {
		color: $grey;
	}

	.page-scroll {
		margin-bottom: 10px;
	}
}

/*==============================================
  Product
================================================*/

#hero__rands {
	background: url("../img/portfolio/rands/rands__hero.jpg") $color-primary;
	background-attachment: fixed;
	background-position: center 40%;
	background-size: cover;
	position: relative;
}

#hero__green {
	background: url("../img/portfolio/greenCan/greenCan__hero.jpg") $color-primary;
	background-attachment: fixed;
	background-position: center 40%;
	background-size: cover;
	position: relative;
}

#hero__twm {
	background: url("../img/portfolio/twm/retargeting__twm.jpg") $color-primary;
	background-attachment: fixed;
	background-position: center 40%;
	background-size: cover;
	position: relative;
}

.product {
	@include e(content) {
		font-family: $font-family--primary;
		position: absolute;
		text-align: center;
		text-transform: $uppercase;
		top: 50%;
		transform: translate(0, -50%);
		width: 100%;
	}

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;
		margin-bottom: 0;

		@include m(sub) {
			@extend %hdln-sec;
			color: $color-accent !important;
		}

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(title) {
		background: rgba($color-primary, 0.5);
		bottom: 0;
		color: $gold;
		left: 0;
		padding: 25px 0;
		position: absolute;
		right: 0;
		text-align: center;
	}

	@include e(button) {
		margin: 30px auto;
		text-align: center;
	}
}

/*==============================================
  Portfolio Section
================================================*/

.portfolio {
	@extend %section-padding;
	background: $color-primary;

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: -7.5px;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(nav) {
		text-align: center;

		ul {
			@extend .list-inline;
			margin-bottom: 30px;
		}

		.portfolio__nav--item {
			background-color: transparent;
			border: 0;
			color: $color-accent;
			font-family: $font-family--secondary;
			font-weight: $font-weight--bold;
			letter-spacing: 4px;
			padding: 0;
			position: relative;
			text-transform: $uppercase;
			transition: all $trns-duration;

			&-active {
				@include pseudo-el(before, 100%, 2px) {
					background: $color-accent;
					bottom: -7.5px;
					left: 0;
				}
			}
		}

		i {
			color: #333333;
		}
	}

	// end .portfolio__nav

	@include e(wrapper) {
		transition: all 8s linear;

		.col-xs-12 {
			padding: 0;
			transition: all 8s linear;
		}
	}

	@include e(item) {
		overflow: hidden;
		position: relative;
		transition: all 0.5s;

		img {
			transition: all 0.4s ease-in-out 0s;
			width: 100%;
		}

		&:hover {
			img {
				transform: scale(1.1);
			}

			.portfolio__content {
				opacity: 1;
				transform: scale(1);
			}

			.portfolio__content__inner {
				> span {
					opacity: 1;
					transform: scale(1);
				}

				h2,
				p {
					bottom: 0;
					opacity: 1;
				}
			}
		}

		// end .portfolio__item:hover
	}

	// end .portfolio__item

	@include e(content) {
		background-color: rgba($color-primary, 0.6);
		bottom: 10px;
		left: 10px;
		opacity: 0;
		position: absolute;
		right: 10px;
		text-align: center;
		top: 10px;
		transform: scale(0.5);
		transition: all 0.3s ease-in-out 0s;

		@include e(inner) {
			display: inline-block;
			max-width: 100%;
			position: relative;
			vertical-align: middle;
			z-index: 4;

			> span {
				display: inline-block;
				opacity: 0;
				transform: scale(0);
			}

			.btn1 {
				transition: all 0.3s ease-in-out 0.2s;
			}

			.btn2 {
				transition: all 0.3s ease-in-out 0.4s;
			}

			a {
				display: inline-block;
				height: 45px;
				line-height: 45px !important;
				margin: 0 15px;
				position: relative;
				width: 45px;

				@include pseudo-el(after, 100%, 100%) {
					border: 2px solid $color-accent;
					left: 0;
					top: 0;
					transform: rotate(45deg);
				}

				i {
					position: relative;
					z-index: 15;
				}

				&:hover,
				&:active {
					color: $color-accent;

					@include pseudo-el(before, 100%, 100%) {
						background: $color-primary;
						left: 0;
						top: 0;
						transform: rotate(45deg);
					}
				}
			}

			h2 {
				bottom: -20px;
				font-size: em(24px);
				font-weight: $font-weight--bold;
				letter-spacing: $letter-space;
				line-height: 2;
				margin: 10px 0 0;
				opacity: 0;
				position: relative;
				transition: all 0.3s ease-in-out 0.6s;
			}

			p {
				bottom: -20px;
				font-size: em(14px);
				letter-spacing: 1px;
				position: relative;
				transition: all 0.3s ease-in-out 0.6s;
			}
		}

		&::after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		// end .portfolio__content__inner
	}

	// end .portfolio__content
}

// end .portfolio

.retargeting__ad {
	box-shadow: 0 8px 6px -6px $black;
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}

.page-tree {
	background-color: $color-primary;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

	img {
		font-weight: 300;
		margin: em(5px) 0;
		max-height: 80px;
	}

	.breadcrumb {
		background: transparent;
		margin-bottom: 0;

		li {
			a {
				color: $white;
				font-family: $font-family--primary;
				font-size: em(16px);
				font-weight: $font-weight--bold;
				letter-spacing: $letter-space;
				text-transform: $uppercase;

				&:hover {
					color: darken($white, 20%);
				}

				&.active {
					color: $color-accent;
					font-weight: 800;

					&:hover {
						color: darken($color-accent, 10%);
					}
				}

				i {
					color: $color-accent;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#login-btn {
		display: block;
	}

	#sesion.collapse {
		display: none !important;
	}
}
