// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	color: palette(grey);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line/$base__font-size);
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Images

img {
  max-width: 100%;
  height: auto;
}

section {
	position: relative;
}


/* Typography
================================================== */

/*
body, p {
	font-family: $font-family--primary;
	font-size: em(18px);
	font-weight: $font-weight--light;; 
	line-height: (27px/18px);
}
*/

p {
	margin: 0 0 em(30px, 18px);
	font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family--secondary;
	text-transform: $uppercase;
}

h1 {
	font-size: em(36px);
	line-height: (48px/36px);
}

h2 {
	font-size: em(30px);
	line-height: em(24px);
}

h3 {
	font-size: em(18px);
	font-weight: $font-weight--medium;
}

h4 {
    font-size: em(18px);
    line-height: (20px/18px);
    font-weight: $font-weight--bold;
}

h5 {
    font-size: em(16px);
    line-height: (16px/16px);
    letter-spacing: $letter-space;
}

a {
	color: $white; 
	text-decoration: none;
	font-weight: $font-weight--medium;
	transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
	-webkit-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
	-moz-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
	-o-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
	-ms-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
	&:link,
	&:visited {
		text-decoration: none;
	}
	&:hover {
		color: $color-accent;
		text-decoration: none;
		cursor: pointer;
	}
}

.dude {
	margin: 30px auto;
	visibility: hidden;
	border: 0;
	border-top: 1px solid #eee;
}

/*Global styles
==============================================*/

.section-padding {
	padding: 50px 0px;
}

h2.heading-title{
	margin-bottom: 50px;
	font-weight: 700;
}

.section-heading {
	@extend .text-center;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.empty__section {
  margin: 0;
  padding: 0;
  display: none;
}

/*=============================================
  Hero styles
================================================*/

#hero {
  background: url('../img/hero__img.jpg') $color-primary;
  position: relative;
  background-position: center;
  background-attachment: fixed;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.hero {

	@include e(content) {
		@extend .text-center;
		position: absolute;
		top: 50%;
		width: 100%;
		font-family: $font-family--primary;
		text-transform: $uppercase;
		transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
	}

	@include e(title) {
		font-size: em(70px);
		font-weight: $font-weight--medium;
		line-height: (70px/70px);
		font-weight: $font-weight--medium;
		letter-spacing: 25px;
		color: $gold;
		@include m(sub) {
			font-size: em(24px);
			letter-spacing: 5px;
			color: $white;
			span {
				color: $gold;
				font-weight: $font-weight--ultra-bold;
			}
		}
	}

	@include e(logo) {
		height: 75px;
		widows: 75px;
	}

	@include e(icon) {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 18px 0;
		background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.83), transparent);
		background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.83), transparent);
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.83), transparent);
		text-align: center;
		color: $gold;
	}

}

/*=============================================
  About styles
================================================*/

.about {
  background: $white;
  color: $color-secondary;

  @include e(headline) {
		@extend %hdln-prim;
		color: $color-secondary;
		// margin-bottom: em(70px, 42px);

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

  @include e(headshot) {
	  max-width: 275px;
	  height: auto;
  }
}


/*=============================================
  Services Section
================================================*/

.services {
  background: $black-gray;

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;
		// margin-bottom: em(70px, 42px);

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	h4 {
		color: $white;
	}

	@include e(item) {
		@extend .text-center;
		border: 1px solid transparent;
		padding: 7.5px 0;
		transition: all $trns-duration ease;
		-webkit-transition: all $trns-duration ease;
		-o-transition: all $trns-duration ease;
	}

	@include e(icon) {
	  @extend .text-center;
	  height: 140px;
	  width: 140px;
	  background-color: transparent;
	  border: 4px solid $color-accent;
	  border-radius: 50%;
	  color: $grey;
	  line-height: 140px;
	  margin: 0 auto 20px auto;

	  i {
			font-size: 60px;
			line-height: 140px;
			transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
			-webkit-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
			-moz-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
			-o-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
			-ms-transition: all $trns-duration cubic-bezier(0, 0, 0.58, 1);
			&:hover {
				font-size: 65px;
				line-height: 140px;
			}
	  }
	}

}


/*=============================================
  Legacy Section
================================================*/

.legacy {
	@include img-replace('legacy__bg.jpg', 100%, 100%);
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
	color: $color-primary;
	position: relative;

  @include e(text) {
		max-width: 75%;
  }

	.container {
		z-index: 3;
		position: relative;
	}
}


/*=============================================
  Client Section
================================================*/

.client {
  position: relative;
  background: $color-secondary;

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;
		// margin-bottom: em(70px, 42px);

		@include m(sub) {
			@extend %hdln-sec;
		}

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}
}


.bnbt,
.btn-left,
.bbbt,
.btn-right {
  border: 3px solid #313131;
  padding: 15px;
  width: 50px;
  cursor: pointer;
  z-index: 1;
  color: $color-accent;
  @extend %vertical-align;
}

.bnbt,
.btn-left {
  left: 0px;
  border-left: none;
}

.bbbt,
.btn-right {
  right: 0px;
  border-right: none;
}


.bnbt:hover,
.bbbt:hover,
.btn-left:hover,
.btn-right:hover {
  color: $color-accent;
  background: rgba(0, 0, 0, 0.8);
  transition: $trns-duration;
}


.slick-dots li button:before {
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  opacity: .50;
  color: #b2b3b7;
}

.slick-dots li.slick-active button:before {
  color: #b6944c;
}

.close {
  position: relative;
  top: -13px;
}



/*=============================================
  Testimonial Section
================================================*/

.review {
  background-attachment: fixed;
  background-image: url("../img/testimonial__bg.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
		@include pseudo-el(after, 100%, 100%) {
			background: linear-gradient(rgba(182, 148, 76, 0.5), rgba(0, 0, 0, 0.75));
			top: 0;
			left: 0;
			z-index: 0;
		}
	
	.review__slider,
  .section-heading {
		position: relative;
		z-index: 2;
  }

  @include e(headline) {
		@extend %hdln-prim;
		color: $color-primary;

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}

  }

  @include e(icon) {
  	color: $color-secondary;;
  }

	blockquote {
		margin: 0;
		border-left: 0;
		text-align: center;

		p {
			margin-bottom: 15px;
			color: $white;
		}

		footer {
			color: $color-accent;
		}
	}
}










/*=============================================
  Contact Section
================================================*/


.contact {
	background: $color-primary;
	padding-bottom: 70px;

  @include e(headline) {
		@extend %hdln-prim;
		color: $white;
		// margin-bottom: em(70px, 42px);

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(form) {

	}

	.form-control {
		padding: 20px 0 20px 20px;
		background-color: transparent;
		border: none;
		border-bottom: 5px solid $white;
		border-radius: 0;
		font-family: $font-family--secondary;
		font-weight: $font-weight--medium;
		letter-spacing: 4px;
		text-transform: uppercase;
		&:focus,
		&:active {
			border-color: $color-accent;
			box-shadow: none;
		}
	}

	textarea.form-control {
		border: 5px solid $white;
		margin-top: 40px;
	}
}







/*=============================================
  Footer Section
================================================*/


.footer {
  background: $color-secondary;
  padding-top: 30px;

	i {
	  color: $color-accent;
	}

	@include e(signature) {
		@extend .center-block;
		padding: 10px 0;
	}

	@include e(list) {
		@extend .list-inline;
		padding: 10px 0;

		@include m(item) {
			width: 45px;
			height: 45px;
			line-height: 45px !important;
			position: relative;
			margin: 0 15px;

			a {
				font-size: 24px;
				@include pseudo-el(before, 100%, 100%) {
					top: 0;
					left: 0;
					border: 2px solid $color-accent;
					transform: rotate(45deg);
				}
			}

		}
	}

	@include e(rights) {
		@extend .center-block;
		padding: 20px 0;
	}

}










/*=============================================
  Product
================================================*/

#hero__rands {
  background: url('../img/website__cardinal.jpg') $color-primary;
  position: relative;
  background-position: center center;
  background-attachment: fixed;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.product {

	@include e(content) {
		@extend .text-center;
		position: absolute;
		top: 50%;
		width: 100%;
		font-family: $font-family--primary;
		text-transform: $uppercase;
		transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
	}

	@include e(headline) {
		@extend %hdln-prim;
		color: $white;
		margin-bottom: 0px;

		@include m(sub) {
			@extend %hdln-sec;
		}

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			bottom: 0;
			left: 50%;
			margin-left: -77px;
		}
	}

	@include e(title) {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 25px 0;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;
		color: $gold;
	}

}






















.portfolio {
	background: $color-primary;

	@include e(headline) {
			@extend %hdln-prim;
			color: $white;

		@include pseudo-el(after, 150px, 5px) {
			background: $color-accent;
			left: 50%;
			bottom: -7.5px;
			margin-left: -77px;
		}
	}

	@include e(nav) {
		@extend .text-center;
		ul {
			@extend .list-inline;
			margin-bottom: 30px;
		}

		a {
			font-family: $font-family--secondary;
			font-weight: $font-weight--bold ;
			letter-spacing: 4px;
			text-transform: $uppercase;
			color: $color-accent;
			position: relative;

			&.active {
				@include pseudo-el(before, 100%, 2px) {
					background: $color-accent;
					bottom: -7.5px;
					margin-left: -4px;
				}
			}

		}

		i {
			color: #333;
		}
	}



	@include e(wrapper) {

		.col-xs-12 {
			padding: 0;
		}
		
	}

	@include e(item) {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			-o-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
		}

		&:hover {

			img {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}

			.portfolio__content {
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}

			.portfolio__content__inner { 
				> span {
					opacity: 1;
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
				}

				h2 {
					opacity: 1;
					bottom: 0;
				}

				p {
					opacity: 1;
					bottom: 0;
				}

			}

		}

	}

	@include e(content) {
	  background-color: rgba($color-primary, 0.6);
	  bottom: 10px;
	  left: 10px;
	  opacity: 0;
	  position: absolute;
	  right: 10px;
	  text-align: center;
	  top: 10px;
	  -webkit-transform: scale(0.5);
	  -moz-transform: scale(0.5);
	  -ms-transform: scale(0.5);
	  -o-transform: scale(0.5);
	  transform: scale(0.5);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  -moz-transition: all 0.3s ease-in-out 0s;
	  -o-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;

	  &:after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
	  }

	  @include e(inner) {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			max-width: 100%;
			z-index: 4;

			> span {
				opacity: 0;
				display: inline-block;
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-ms-transform: scale(0);
				-o-transform: scale(0);
				transform: scale(0);
			}

			.btn1 {
				-webkit-transition: all 0.3s ease-in-out 0.2s;
				-moz-transition: all 0.3s ease-in-out 0.2s;
				-o-transition: all 0.3s ease-in-out 0.2s;
				transition: all 0.3s ease-in-out 0.2s;
			}

			.btn2 {
				-webkit-transition: all 0.3s ease-in-out 0.4s;
				-moz-transition: all 0.3s ease-in-out 0.4s;
				-o-transition: all 0.3s ease-in-out 0.4s;
				transition: all 0.3s ease-in-out 0.4s;
			}

			a {
				width: 45px;
				height: 45px;
				line-height: 45px !important;
				position: relative;
				margin: 0 15px;
				display: inline-block;
				@include pseudo-el(after, 100%, 100%) {
					top: 0;
					left: 0;
					border: 2px solid $color-accent;
					transform: rotate(45deg);
				}
				i {
					position: relative;
					z-index: 15;
				}
				&:hover {
					color: $color-accent;
					@include pseudo-el(before, 100%, 100%) {
						top: 0;
						left: 0;
						background: $color-primary;
						transform: rotate(45deg);
					}


				}


			}

			h2 {
				bottom: -20px;
				margin: 10px 0 0;
				font-weight: 700;
				font-size: em(24px);
				line-height: 2;
				opacity: 0;
				letter-spacing: 1px;
				position: relative;
				-webkit-transition: all 0.3s ease-in-out 0.6s;
				-moz-transition: all 0.3s ease-in-out 0.6s;
				-o-transition: all 0.3s ease-in-out 0.6s;
				transition: all 0.3s ease-in-out 0.6s;
			}

			p {
				bottom: -20px;
				letter-spacing: 1px;
				font-size: em(16px);
				position: relative;
				-webkit-transition: all 0.3s ease-in-out 0.6s;
				-moz-transition: all 0.3s ease-in-out 0.6s;
				-o-transition: all 0.3s ease-in-out 0.6s;
				transition: all 0.3s ease-in-out 0.6s;
			}

	  }
	}

}

















